{
  "extends": [
    "habitrpg/lib/node"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "db": "readonly",
    "usersCollection": "readonly",
    "sinon": "readonly"
  },
  "rules": {
    "max-len": ["error", {"code": 170}]
  }
}
