node_modules

# Exclude file that have to be ported to the new code style
libs/amazonPayments.js
libs/groupSubscriptionManager.js
libs/pushNotifications.js
libs/specialPushNotificationManager.js
scripts/*
workers/email.js
workers/amazonGroupPlanPayments.js
workers/amazonPayments.js
workers/sendBatchEmails.js
workers/sendSpecialPushNotifications.js
workers/sendWeeklyRecapEmails.js