{
  "PORT": 3100,
  "AUTH_USER": "admin",
  "AUTH_PASSWORD": "password",
  "MANDRILL_API_KEY": "1234567890",
  "MONGODB_URL": "mongodb://localhost/habitrpg",
  "REDIS_PORT": 6379,
  "REDIS_HOST": "127.0.0.1",
  "BASE_URL": "https://habitica.com",
  "STANDARD_REPLY_TO_ADDR": "an@email.address",
  "ORGS_REPLY_TO_ADDR": "an@email.address",
  "SESSION_SECRET": "password",
  "AWS_ACCESS_KEY": "accesskey",
  "AWS_SECRET_KEY": "secretKey",
  "BLACKLISTED_BASE_URLS": [],
  "AMAZON_PAYMENTS_SELLER_ID": "",
  "AMAZON_PAYMENTS_CLIENT_ID": "",
  "AMAZON_PAYMENTS_MWS_KEY": "",
  "AMAZON_PAYMENTS_MWS_SECRET": "",
  "S3":{
      "bucket":"bucket",
      "accessKeyId":"accessKeyId",
      "secretAccessKey":"secretAccessKey"
  },
  "PUSH_CONFIGS": {
      "GCM_SERVER_API_KEY": "",
      "APN_ENABLED": "true",
      "FCM_SERVER_API_KEY": ""
  }
}
